{% include doctype-head.html %}
<body data-spy="scroll" data-offset="80" data-target=".scrollspy" id="top">
    {% include svg-defs.svg %}
    <!--[if lt IE 10]>
        <p class="oldie">You are using an outdated browser. <a href="https://browsehappy.com/">Upgrade your browser today</a> to better experience this site.</p>
    <![endif]-->

    {% include header.html %}
 
        {{ content }}
           
    {% include footer.html %}
    
    {% if site.analytics %}
        {% include analytics.html %}
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
     <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
       integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
       crossorigin=""></script>
    <script src="{{ site.baseurl }}/js/all.min.js"></script>
</body>
</html>
